# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.[oa]
*.so
*~
#executable
Geometria_1/Hadr03-build/Hadr03
Geometria_2/Hadr03-build/Hadr03
Geometria_3/Hadr03-build/Hadr03
*.root
*.ascii
*.txt
Makefile

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Directories #
################
Geometria_1/Hadr03-build/CMakeFiles/
Geometria_2/Hadr03-build/CMakeFiles/
Geometria_3/Hadr03-build/CMakeFiles/
